@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@500&display=swap');
*{
    margin: 0;padding: 0;
    box-sizing: border-box;
    font-family: 'Rubik', sans-serif; 
}
body{
    width: 100%;
    height: 100vh;
    display: flex;
    /* border: 2px solid red; */
    justify-content: center;
    align-items: center;
    background: linear-gradient(45deg,#0a0a0a,#5c6776);

}
.calculator{
    margin: 0.6rem;

    /* border: 2px solid brown; */
    /* display: flex; */
    padding: 0.5rem;
    border-radius: 1rem;
    box-shadow: 0px 3px 15px white;
}
input{
    width: 90%;
    height: 3.5rem;
    border: none;
    padding:3px;
    margin: 20px;
    /* display: flex; */
    background: transparent;
    box-shadow: 0px 3px 15px rgb(104, 103, 103);
    font-size: 2rem;
    /* align-items: center; */
    text-align: right;
    color: azure;
}
input::placeholder{
    color: azure;
}
.container{
    display: flex;
    justify-content: space-evenly;
}
button{
    border: none;
    width: 5rem;
    height: 5rem;
    margin: 0.4rem;
    border-radius: 50%;
    background: transparent;
    color: azure;
    font-size: 1.4rem;
    box-shadow: -8px -8px 15px rgb(104, 103, 103);
}
.equalbtn{
    background-color: rgb(255, 153, 0);
}
.operator{
    color: rgb(20, 207, 20);
}
@media only screen and (max-width:571px) {
    html{
        font-size: 13px;
    }
}
@media only screen and (max-width: 430px){
    html{
        font-size:10px;
    }
}
